/* mobile */

@media only screen and (min-width: 320px) and (max-width: 999px) {
  .nav {
    display: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
  }
  .menu-row {
    text-align: center;
    background-color: #000;
  }
  .menu-row ul {
    padding: 0;
    margin: 0 auto;
    display: none; /* Ẩn danh sách menu ban đầu */
  }
  .menu-row ul li {
    display: block;
    margin: 10px 0;
  }
  .close-menu {
    display: none; /* Ẩn chữ "Đóng" ban đầu */
    cursor: pointer;
  }

  .nav-mobile {
    color: var(--secondary-tc);
    background-color: var(--secondary-bc);
  }

  .nav-mobile-title {
    justify-content: space-between;
    font-family: 'Panton';
    padding: 5px 0px;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #0f0f0f;
    width: 100%;
  }
  .navbars-title-right {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #333;
    font-size: 8px;
    display: flex;
    width: 252px;
  }
  .navbars-title-right p.donate {
    display: flex;
    width: 35px;
  }
  .navbars-title {
    position: absolute;
  }

  .navbars-title .user-name {
    position: relative;
    display: flex;
    font-size: 8px;
    padding: 0 5px 0 5px;
    color: #333;
    background-color: #1cc88a;
    border-radius: 5px;
    border-color: #1cc88a;
    font-family: Arial, sans-serif;
    font-weight: bold;
    width: 85px;
    height: 50px;
  }
  .navbars-title .name-user {
    display: flex;
    white-space: nowrap;
    width: 49px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .navbars-title .point {
    display: flex;
    margin-left: 5px;
    align-items: center;
  }

  .navbars-title-right .donate {
    background-color: #f6c23e;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
  }
  .navbars-title-right .log-out {
    margin-left: 10px;
    background-color: #c93d3d;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
  }
  .navbars-title-right .log-in {
    margin-left: 10px;
    background-color: #00ff22;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
  }
  .navbars-title-right .register {
    margin-left: 10px;
    background-color: #ffae00;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
  }

  .nav-mobile-title img {
    /* margin-left: 5px; */
  }

  .navbars-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .bar {
    width: 28px;
    height: 3px;
    /* background-color: white; */
    margin: 3px;
    transition: all 0.3s ease-in-out;
  }

  .nav-mobile-menu {
    display: none !important;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    padding: 20px 0px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  .nav-mobile-menu.active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    animation-name: slideDown;
    animation-duration: 0.65s;
    margin: 0;
  }

  .nav-mobile-menu a,
  .nav-mobile-especial a {
    font-family: 'Panton';
    color: var(--secondary-tc);
    text-decoration: none;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 5px 0px;
  }

  .nav-mobile-menu a:hover {
    color: var(--primary-tc);
    background-color: var(--primary-bc);
  }

  .navbars-bars.active > .bar-2 {
    width: 60%;
    margin-left: -15%;
  }

  .navbars-bars.active > .bar-3 {
    width: 40%;
    margin-left: -35%;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    padding: 20px;
  }

  .menu {
    position: absolute;
    right: 0;
    position: fixed;
    top: 15px;
    margin-right: 15px;
    color: white;
  }

  .menu-toggle {
    cursor: pointer;
    display: block;
  }

  .menu-content {
    display: none;
    /* position: absolute; */
    width: 300px;
    margin-right: 1.5rem;
    left: 0;
    height: 80vh;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
  }

  .menu-content p {
    margin-top: 30px;
    padding: 5px 0;
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    margin-bottom: 15px;
  }
}

.menu .menu-row li {
  margin-top: 1rem;
}

/* ---------- */
