* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
/* CSS cho giao diện PC */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-left {
  list-style: none;
  margin-left: 25px;
  padding: 0;
}

.nav-left li {
  display: inline;
  margin-right: 20px;
}

.nav-left li a {
  color: #abc1dd;
}
.nav-left li a:hover {
  color: #5886c2;
}

.nav-right {
  list-style: none;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
}

.nav-right li {
  margin-top: 10px;
}

.nav-right li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.nav-right a:hover {
  color: #007bff;
}
.right {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.right span {
  color: #aeb2c4;
}

.right img {
  width: 40px;
  border-radius: 50%;
  margin-left: 12px;
  margin-top: 5px;
}

.right .nav-right {
  top: 50px;
  position: absolute;
  background-color: #575d77;
  right: 20px;
  width: 150px;
  height: 200px;
}
.right .nav-right li a {
  color: #dadce4;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
}
.right .nav-right li:hover {
  background-color: #606683;
}
.right .nav-right i {
  margin-right: 10px;
}

/* CSS cho giao diện mobile */
@media only screen and (max-width: 650px) {
  .nav {
    position: absolute;
    flex-direction: column;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-left {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-right: 80px;
  }

  .nav-left,
  .nav-right {
    text-align: center;
    width: 95%;
  }

  .nav-left li {
    display: inline-block;
  }
  .nav-left li,
  .nav-right li {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .right span {
    display: none;
  }
  .right ul li {
    text-align: left;
  }
}

.nav-right {
  display: none;
}

.nav-right.active {
  display: block;
}
