/* NAV */
.user {
  text-align: center;
}
a {
  text-decoration: none;
  /* color: black; */
}
ul {
  list-style-type: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 2px solid white;
  font-family: 'Panton', sans-serif !important;
  background-color: var(--secondary-bc);
}

.nav-list a {
  padding: 15px;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-tc);
}

.nav-list a:hover {
  border-radius: 5px;
  color: var(--primary-tc);
  background-color: #ffffff;
}

.nav-btn:hover {
  transform: translateY(-5px);
}

.nav-logo {
  cursor: pointer;
}

.nav-logo h1 {
  color: var(--secondary-tc);
  margin: 10px;
  font-size: 30px;
  text-transform: uppercase;
}

.nav-logo h1::after {
  content: '';
  width: 70%;
  height: 2px;
  margin: auto;
  display: block;
  background-color: #acacac;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-btn {
  border-radius: 5px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid white;
  color: var(--secondary-tc);
  text-shadow: 0px 1.5px 0px #ebe3e340;
  transition: 0.4s ease-in-out;
}

.flex a:hover {
  text-decoration: underline;
}

.nav-btn span {
  color: var(--primary-button-tc);
}

.btn-login {
  background-color: var(--primary-button-bc);
}

.btn-sucess {
  margin-left: 10px;
}

/* pc */
@media only screen and (min-width: 1000px) and (max-width: 1920px) {
  .menu-row {
    display: none;
  }
  .nav {
    background-color: #0f0f0f;
    padding: 10px;
  }
  .menu {
    display: none;
  }
  .open-menu {
    display: none;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .name-user {
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 15px;
    background-color: #1cc88a;
    border-radius: 5px;
  }
  .name-user .name {
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .name-user .name,
  .name-user .point {
    margin-right: 10px;
  }

  .navbars-title-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .navbars-title-right a {
    margin-left: 10px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .navbars-title-right a:hover {
    background-color: #ccc;
  }

  .log-in {
    background-color: #4caf50;
    color: white;
  }

  .register {
    background-color: #008cba;
    color: white;
  }

  .log-out {
    background-color: #f44336;
    color: white;
  }

  .donate {
    margin-left: 15px;
    background-color: rgb(246, 194, 62);
    color: white;
    padding: 5px 15px 5px 15px;
    background-color: #f6c23e;
    border-radius: 5px;
  }
}

/* pc */
